[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
gspread = "*"
omegaconf = "*"
requests = "*"
loguru = "*"
python-dotenv = "*"
sqlalchemy = "==1.4.41"
prefect = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
